<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2022 DBeaver Corp and others
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->

<plugin>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
            class="org.jkiss.dbeaver.ext.altibase.AltibaseDataSourceProvider"
            description="Altibase JDBC connector"
            id="altibase"
            label="Altibase"
            icon="icons/altibase_icon.png"
            dialect="generic">
            <tree
                  icon="icons/altibase_icon.png"
                  iconBig="icons/altibase_icon_big.png"
                  label="Altibase data source"
                  path="generic"
                  supportsEntityMerge="true">
			<folder type="org.jkiss.dbeaver.ext.altibase.model.AltibaseSchema" label="%tree.schemas.node.name" icon="#folder_schema" description="Database schemas">
                <!--<items label="#catalog" path="catalog" property="catalogList" icon="#database" optional="true">-->
                    <items label="#schema" path="schema" property="schemaList" icon="#schema" optional="true">
                        <folder type="org.jkiss.dbeaver.ext.altibase.model.AltibaseTable" label="%tree.tables.node.name" icon="#folder_table" description="%tree.tables.node.tip">
                            <items label="%tree.table.node.name" path="table" property="physicalTables" icon="#table">
                                <folder type="org.jkiss.dbeaver.ext.altibase.model.AltibaseTableColumn" label="%tree.columns.node.name" icon="#columns" description="%tree.columns.node.tip">
                                    <items label="%tree.column.node.name" path="attribute" property="attributes" icon="#column">
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.altibase.model.AltibaseUniqueKey" label="%tree.uni_keys.node.name" icon="#constraints" description="%tree.uni_keys.node.tip"> <!--  visibleIf="!object.view &amp;&amp; object.dataSource.info.supportsReferentialIntegrity()">-->
                                    <items label="%tree.uni_key.node.name" path="uniqueKey" property="constraints" icon="#unique-key">
                                        <items label="%tree.uni_key.columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.altibase.model.AltibaseTableForeignKey" label="%tree.foreign_keys.node.name" icon="#foreign-keys" description="%tree.foreign_keys.node.tip"> <!--  visibleIf="!object.view &amp;&amp; object.dataSource.info.supportsReferentialIntegrity()">-->
                                    <items label="%tree.foreign_key.node.name" path="association" property="associations" icon="#foreign-key">
                                        <items label="%tree.foreign_key_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.altibase.model.AltibaseTableIndex" label="%tree.indexes.node.name" icon="#indexes" description="%tree.indexes.node.tip"> <!--  visibleIf="object.dataSource.info.supportsIndexes()">-->
                                    <items label="%tree.index.node.name" path="index" property="indexes" icon="#index">
                                        <items label="%tree.index_columns.node.name" path="column" property="attributeReferences" icon="#column" navigable="false" inline="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder label="%tree.references.node.name" icon="#references" description="%tree.references.node.tip" virtual="true"> <!--  visibleIf="!object.view &amp;&amp; object.dataSource.info.supportsReferentialIntegrity()" >-->
                                    <items label="%tree.reference.node.name" path="reference" property="references" icon="#reference" virtual="true">
                                        <items label="%tree.reference_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" navigable="false" inline="true" virtual="true">
                                        </items>
                                    </items>
                                </folder>
                                <folder type="org.jkiss.dbeaver.ext.altibase.model.AltibaseTableTrigger" label="%tree.triggers.node.name" icon="#triggers" description="%tree.triggers.node.tip"> <!--  visibleIf="object.dataSource.metaModel.supportsTriggers(object.dataSource)">-->
                                    <items label="%tree.trigger.node.name" path="trigger" property="triggers" icon="#trigger"/>
                                </folder>
                                <items label="%tree.sub_table.node.name" optional="true" path="subtable" property="subTables" icon="#table" recursive=".." visibleIf="!object.view">
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.altibase.model.AltibaseView" label="%tree.tviews.node.name" icon="#folder_view" description="%tree.tviews.node.tip"> <!-- visibleIf="object.dataSource.metaModel.supportsViews(object.dataSource)">-->
                            <items label="%tree.tview.node.name" path="view" property="views" icon="#view">
                                <folder type="org.jkiss.dbeaver.ext.altibase.model.AltibaseTableColumn" label="%tree.columns.node.name" icon="#columns" description="View columns">
                                    <items label="%tree.column.node.name" path="attribute" property="attributes" icon="#column">
                                    </items>
                                </folder>
                            </items>
                        </folder>
                        <!-- TODO: MView -->
                        <folder type="org.jkiss.dbeaver.ext.altibase.model.AltibaseIndex" label="%tree.indexes.node.name" icon="#indexes" description="%tree.indexes.node.tip"> <!-- visibleIf="object.dataSource.info.supportsIndexes()">-->
                            <items icon="#index" label="%tree.index.node.name" path="index" property="indexes" virtual="true">
                                <items icon="#column" label="%tree.index_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="attributeReferences" inline="true" navigable="false" virtual="true">
                                </items>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.altibase.model.AltibaseSequence" label="%tree.sequences.node.name" icon="#sequences" description="%tree.sequences.node.tip"> <!-- visibleIf="object.dataSource.metaModel.supportsSequences(object.dataSource)">-->
                            <items label="%tree.sequence.node.name" path="sequence" property="sequences" icon="#sequence"/>
                        </folder>
                        <!-- TODO: Queue table -->
                        <!-- TODO: Pacakges -->
                        <folder type="org.jkiss.dbeaver.ext.altibase.model.AltibaseProcedure" label="%tree.procedures.node.name" icon="#procedures" description="Procedures"> <!-- visibleIf="object.dataSource.info.supportsStoredCode()">-->
                            <items label="%tree.procedures.node.name" itemLabel="%tree.procedure.node.name" path="procedure" property="proceduresOnly" icon="#procedure">
                                <items label="%tree.procedure_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="parameters" navigable="false"/>
                            </items>
                            <items label="%tree.package.node.name" path="package" property="packages" icon="#package">
                                <items label="%tree.procedures.node.name" itemLabel="%tree.procedure.node.name" path="procedure" property="procedures" icon="#procedure">
                                    <items label="%tree.procedure_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="parameters" navigable="false" inline="true"/>
                                </items>
                            </items>
                        </folder>
                        <folder label="%tree.functions.node.name" icon="#functions" description="Functions"> <!-- visibleIf="object.dataSource.info.supportsStoredCode() &amp;&amp; object.dataSource.splitProceduresAndFunctions()"> -->
                            <items label="%tree.functions.node.name" itemLabel="%tree.function.node.name" path="function" property="functionsOnly" icon="#function">
                                <items label="%tree.function_columns.node.name" itemLabel="%tree.column.node.name" path="column" property="parameters" navigable="false"/>
                            </items>
                        </folder>
                        <folder type="org.jkiss.dbeaver.ext.altibase.model.AltibaseSynonym" label="%tree.synonyms.node.name" icon="#synonyms" description="Synonyms"> <!-- visibleIf="object.dataSource.metaModel.supportsSynonyms(object.dataSource)">-->
                            <items label="%tree.synonym.node.name" path="synonym" property="synonyms" icon="#synonym"/>
                        </folder>
                        <folder id="databaseTrigger" type="org.jkiss.dbeaver.ext.altibase.model.AltibaseContainerTrigger" label="%tree.triggers.node.name" icon="#triggers" description="Global triggers"> <!--  visibleIf="object.dataSource.metaModel.supportsDatabaseTriggers(object.dataSource)">-->
                            <items label="%tree.trigger.node.name" path="trigger" property="triggers" icon="#trigger"/>
                        </folder>
                        <folder id="tableTrigger" type="org.jkiss.dbeaver.ext.altibase.model.AltibaseTableTrigger" label="%tree.tableTriggers.node.name" icon="#triggers" description="%tree.tableTriggers.node.tip"> <!--  visibleIf="object.dataSource.metaModel.supportsTriggers(object.dataSource)">-->
                            <items label="%tree.trigger.node.name" path="tableTrigger" property="tableTriggers" icon="#trigger"/>
                        </folder>
                    </items>
                <!--</items>-->
                </folder> <!-- Schemas -->
                <folder label="%tree.global_metadata.node.name" icon="#logical" description="Global metadata objects">
                        <folder type="org.jkiss.dbeaver.model.struct.DBSDataType" label="%tree.dataTypes.node.name" icon="#data_types" description="%tree.dataTypes.node.tip">
                            <items label="%tree.dataType.node.name" path="dataType" property="dataTypes" icon="#data_type"/>
                        </folder>
                        <!-- TODO: Public Synonym -->
                        <!-- TODO: Replication: 2nd update -->
                </folder> <!-- Global metadata -->
                <!-- TODO: Storage: Tablespace: 2nd update -->
                <!-- TODO: Storage: Security: 2nd update -->
                <!-- TODO: Storage: Administer: 2nd update -->
            </tree>

            <driver-properties>
                <propertyGroup label="Parameters" description="Custom driver parameters">
                    <property id="supports-catalog-selection" label="Driver can change default catalog" description="Driver does support catalog change" type="boolean" required="false" defaultValue="false"/>;
                    <property id="supports-schema-selection" label="Driver can change default schema" description="Driver does support schema change" type="boolean" required="false" defaultValue="true"/>
                    <property id="supports-indexes" label="Driver supports indexes" description="Driver supports table indexes" type="boolean" required="false" defaultValue="true"/>
                    <property id="supports-table-constraints" label="Driver supports constraints" description="Driver supports table constraints (primary keys)" type="boolean" required="false" defaultValue="true"/>
                    <property id="supports-stored-code" label="Driver supports stored code" description="Whether this driver supports stored code (procedures, functions, packages, etc)" type="boolean" required="false" defaultValue="true"/>
                    <property id="stored-quoted-case" label="Quoted string case" description="Letter capitalization of quoted strings (mixed/upper/lower)" type="string" required="false" defaultValue=""/>
                    <property id="stored-unquoted-case" label="Unquoted string case" description="Letter capitalization of unquoted strings (mixed/upper/lower)" type="string" required="false" defaultValue=""/>
                    <property id="supports-references" label="Driver supports references" description="Driver supports table references (foreign keys)" type="boolean" required="false" defaultValue="true"/>
                    <property id="supports-select-count" label="Driver supports SELECT count(*) clause" description="Driver supports SELECT count(*) clause" type="boolean" required="false" defaultValue="true"/>
                    <property id="supports-views" label="Driver supports views" description="Driver supports table views" type="boolean" required="false" defaultValue="true"/>
                    <property id="split-procedures-and-functions" label="Split procedures and functions" description="Show procedures and functions in different folders" type="boolean" required="false" defaultValue="false"/>
                    <property id="script-delimiter" label="Script delimiter" description="Literal for SQL queries separation in scripts" type="string" required="false" defaultValue=";"/>
                    <property id="script-delimiter-redefiner" label="Script delimiter redefiner" description="SQL clause which redefines script delimiter value" type="string" required="false"/>
                    <property id="script-delimiter-after-query" label="Use script delimiter after query" description="Keep SQL script delimiter after each SQL query" type="boolean" required="false" defaultValue="false"/>
                    <property id="script-delimiter-after-block" label="Use script delimiter after SQL block" description="Keep SQL script delimiter after SQL script blocks (BEGIN/END)" type="boolean" required="false" defaultValue="false"/>
                    <property id="string-escape-char" label="String escape character" description="Character used to escape special symbols in strings" type="string" required="false" defaultValue=""/>
                    <property id="meta-model" label="Meta model type" description="Type of metadata reading model - standard or indexed" type="string" required="false" defaultValue="" validValues="standard,indexed"/>
                    <property id="all-objects-pattern" label="All Objects Pattern" description="SQL pattern for all metadata objects" type="string" required="false" defaultValue="%" validValues="null,%"/>
                    <property id="omit-catalog" label="Omit catalog(s)" description="Do not read and use catalog (aka database) information" type="boolean" required="false" defaultValue="false"/>
                    <property id="omit-single-catalog" label="Omit single catalog" description="Hide catalog (database) is there is only one catalog on server" type="boolean" required="false" defaultValue="false"/>
                    <property id="omit-schema" label="Omit schema(s)" description="Do not read and use schemas information" type="boolean" required="false" defaultValue="false"/>
                    <property id="omit-single-schema" label="Omit single schema" description="Hide schema is there is only one schema on server" type="boolean" required="false" defaultValue="false"/>
                    <property id="schema-filters-enabled" label="Use schema filters" description="Use JDBC schema filters when database doesn't support catalogs. Otherwise just read all database schemas and filter on client-side." type="boolean" required="false" defaultValue="false"/>
                    <property id="omit-type-cache" label="Omit type cache" description="Do not use data types provided by driver" type="boolean" required="false" defaultValue="false"/>
                    <property id="shutdown-url-param" label="Shutdown parameter" description="Database shutdown URL parameter" type="string" required="false" defaultValue=""/>
                    <property id="create-url-param" label="Create database parameter" description="Database create URL parameter" type="string" required="false" defaultValue=""/>
                    <property id="supports-multiple-results" label="Driver supports multiple results" description="Driver supports multiple results for a single query." type="boolean" required="false" defaultValue="false"/>
                    <property id="supports-limits" label="Driver supports result set limit" description="Driver supports multiple result set limit (max rows)." type="boolean" required="false" defaultValue="true"/>
                    <property id="supports-struct-cache" label="Driver supports structure cache" description="Driver supports structure cache reading. Enables schema columns, keys, etc." type="boolean" required="false" defaultValue="true"/>
                    <property id="supports-truncate" label="Driver supports TRUNCATE operation" description="Driver supports TRUNCATE command. It is much faster than DELETE without criteria." type="boolean" required="false" defaultValue="true"/>
                    <property id="read-only-data" label="Driver cannot modify data" description="Driver does not support data (e.g. in table) editing." type="boolean" required="false" defaultValue="false"/>
                    <property id="read-only-meta-data" label="Driver cannot modify meta data" description="Driver does not support meta data (e.g. table or column creating) editing." type="boolean" required="false" defaultValue="false"/>
                    <property id="supports-multi-insert" label="Driver supports multi insert mode" description="Driver supports multi insert mode: INSERT VALUES(,,)(,,). Used for the multi insert data import" type="boolean" required="false" defaultValue="false"/>
                </propertyGroup>
                <propertyGroup label="Queries" description="Custom driver queries">
                    <property id="query-get-active-db" label="Get active database" description="Query to obtain active database name" type="string" required="false" defaultValue=""/>
                    <property id="query-set-active-db" label="Set active database" description="Query to change active database" type="string" required="false" defaultValue=""/>
                    <property id="query-shutdown" label="Shutdown database" description="Query to shutdown active database connection. Used for some embedded databases" type="string" required="false" defaultValue=""/>
                    <property id="ping-sql" label="PING query" description="Query to check connection state" type="string" required="false" defaultValue=""/>
                    <property id="dual-table" label="Dual table name" description="Name of dummy 'DUAL' table which is used for expressions evaluation" type="string" required="false" defaultValue=""/>
                    <property id="active-entity-type" label="Active object type" description="Type of selectable object (schema, catalog)" type="string" required="false" defaultValue="" validValues="catalog,schema"/>
                    <property id="supports-scroll" label="Driver supports results scrolling" description="Driver supports resultset scrolling" type="boolean" required="false" defaultValue="false"/>
                    <property id="quote-reserved-words" label="Quote reserved words" description="Quote columns/table names if they conflicts with reserved SQL keywords" type="boolean" required="false" defaultValue="true"/>
                    <property id="use-search-string-escape" label="Escape LIKE masks in search queries" description="Use to access JDBC metadata API. Enabled by default but should be disabled for some (broken) drivers" type="boolean" required="false" defaultValue="false"/>
                </propertyGroup>
                <propertyGroup label="DDL" description="DDL generation options">
                    <property id="ddl-drop-column-short" label="Drop column short syntax" description="Use 'ALTER TABLE DROP column-name' instead of standard syntax" type="boolean" required="false" defaultValue="false"/>
                    <property id="ddl-drop-column-brackets" label="Drop column - use brackets" description="Use 'ALTER TABLE DROP (column-name)'" type="boolean" required="false" defaultValue="false"/>
                    <property id="legacy-sql-dialect" label="Use legacy SQL dialect for DDL" description="Use legacy SQL dialect for DDL" type="boolean" required="false" defaultValue="false"/>
                    <property id="alter-table-add-column" label="Add COLUMN keyword in alter table query" description="Add COLUMN keyword after keyword ADD and before column name in alter table query" type="boolean" required="false" defaultValue="false"/>
                    <property id="omit-catalog-name" label="Omit catalog name in queries" description="Omit catalog name in generated queries" type="boolean" required="false" defaultValue="false"/>
                </propertyGroup>
                <propertyGroup label="Formatting" description="SQL values formats">
                    <property id="native-format-timestamp" label="Timestamp format" description="Format pattern for timestamp columns" type="string" required="false"/>
                    <property id="native-format-date" label="Date format" description="Format pattern for date columns" type="string" required="false"/>
                    <property id="native-format-time" label="Time format" description="Format pattern for time columns" type="string" required="false"/>
                </propertyGroup>

            </driver-properties>

            <drivers managable="true">

                <driver
                        id="altibase"
                        label="Altibase"
                        icon="icons/altibase_icon.png"
                        iconBig="icons/altibase_icon_big.png"
                        class="Altibase.jdbc.driver.AltibaseDriver"
                        sampleURL="jdbc:Altibase://{host}:{port}/{database}"
                        defaultPort="20300"
                        defaultDatabase="mydb"
                        defaultUser="SYS"
                        description="Altibase JDBC Driver"
                        categories="sql">
                        <!-- At the moment HTTPS link doesn't work. But we can't keep HTTP anyway. -->
                    <file type="jar" path="https://ftp.altibase.com/JDBC_Driver/Altibase-7.1.0.jar"/>
                </driver>
             </drivers>

        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.dataTypeProvider">
        <provider
                class="org.jkiss.dbeaver.ext.altibase.data.AltibaseValueHandlerProvider"
                id="org.jkiss.dbeaver.ext.altibase.data.GenericValueHandlerProvider"
                label="Altibase data types provider">
            <datasource id="generic"/>
            <!-- Date/time value handler - needed to provide native datetime value formatting. Formatting itself provided in drivers configuration. -->
            <type kind="DATETIME"/>
        </provider>
    </extension>

    <extension point="org.jkiss.dbeaver.objectManager">
        <manager class="org.jkiss.dbeaver.ext.altibase.edit.AltibaseTableManager"         objectType="org.jkiss.dbeaver.ext.altibase.model.AltibaseTable"/>
        <manager class="org.jkiss.dbeaver.ext.altibase.edit.AltibaseViewManager"          objectType="org.jkiss.dbeaver.ext.altibase.model.AltibaseView"/>
        <manager class="org.jkiss.dbeaver.ext.altibase.edit.AltibaseTableColumnManager"   objectType="org.jkiss.dbeaver.ext.altibase.model.AltibaseTableColumn"/>
        <manager class="org.jkiss.dbeaver.ext.altibase.edit.AltibasePrimaryKeyManager"    objectType="org.jkiss.dbeaver.ext.altibase.model.AltibaseUniqueKey"/>
        <manager class="org.jkiss.dbeaver.ext.altibase.edit.AltibaseForeignKeyManager"    objectType="org.jkiss.dbeaver.ext.altibase.model.AltibaseTableForeignKey"/>
        <manager class="org.jkiss.dbeaver.ext.altibase.edit.AltibaseIndexManager"         objectType="org.jkiss.dbeaver.ext.altibase.model.AltibaseTableIndex"/>
        <manager class="org.jkiss.dbeaver.ext.altibase.edit.AltibaseProcedureManager"     objectType="org.jkiss.dbeaver.ext.altibase.model.AltibaseProcedure"/>
    </extension>

    <extension point="org.eclipse.core.runtime.adapters">
        <factory adaptableType="org.jkiss.dbeaver.model.navigator.DBNNode" class="org.jkiss.dbeaver.ext.altibase.model.AltibaseObjectAdapter">
        <!-- TODO:
            <adapter type="org.jkiss.dbeaver.ext.oracle.model.source.OracleSourceObject"/>
            <adapter type="org.jkiss.dbeaver.ext.oracle.model.OracleProcedurePackaged"/>
            <adapter type="org.jkiss.dbeaver.ext.oracle.model.OracleSchedulerJob"/>
        -->
        </factory>
        <factory adaptableType="org.jkiss.dbeaver.ext.altibase.model.AltibaseSQLDialect" class="org.jkiss.dbeaver.ext.altibase.sql.AltibaseDialectAdapterFactory">
            <adapter type="org.jkiss.dbeaver.model.text.parser.TPRuleProvider"/>
        </factory>
    </extension>
    
    <extension point="org.jkiss.dbeaver.mavenRepository">
        <repository id="monetdb-maven-repo" name="MonetDB Repository" url="https://clojars.org/repo/" order="20">
            <scope group="monetdb"/>
        </repository>
        <repository id="cratedb-maven-repo" name="CrateDB Repository" url="https://dl.bintray.com/crate/crate" order="21">
            <scope group="io.crate"/>
        </repository>

    </extension>

    <extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect id="altibase" parent="basic" class="org.jkiss.dbeaver.ext.altibase.model.AltibaseSQLDialect" label="Altibase" description="Altibase SQL dialect." icon="#database_icon_default" hidden="true">
        </dialect>
    </extension>

</plugin>
